*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
::after,
::before{
   box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    color: white;
    text-align: center;
    font-size: 16px;
}

